# COGS 108 - Final Project

# Overview

TBD

# Names

- Ankur Gupta
- Aditya Sampath
- Pedro Talancon
- Koodrut Panesar

# Group Members IDs

- A13877512
- A13441492
- A14400378
- A13561263

# Research Question

Income or Density of Liquor Stores

## Background and Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [2]:
import pandas as pd
import numpy as np

# Data Cleaning

Describe your data cleaning steps here.

In [30]:
df = pd.read_csv('ARJISPublicCrime112019.txt')

Checking the values of the crimes, and making sure DUI doesn't have different spellings

In [31]:
df.CM_LEGEND.unique()

array(['MOTOR VEHICLE THEFT', 'BURGLARY', 'THEFT/LARCENY', 'ASSAULT',
       'ROBBERY', 'VANDALISM', 'DRUGS/ALCOHOL VIOLATIONS', 'WEAPONS',
       'DUI', 'FRAUD', 'VEHICLE BREAK-IN/THEFT', 'SEX CRIMES', 'ARSON',
       'HOMICIDE'], dtype=object)

Now we know that there aren't different variations of the DUI spelling, so we can make a dataframe of just DUIs.

In [32]:
df = df[df['CM_LEGEND']=='DUI']

In [33]:
df["ZipCode"].unique()

array([91911., 92024., 91910., 91913., 91915., 92064., 92114., 92009.,
       92109., 92118., 92075., 92083., 92008., 91941., 92027., 92084.,
       92025., 92111., 92103., 92078., 91932., 92010., 92069., 92123.,
       91942., 91950., 92110., 92065., 92102., 91914., 92126., 92081.,
       92011., 92056., 91901.,    nan, 92117., 92120., 92054., 92105.,
       92113., 20650., 92154., 92057., 92029., 92116., 92101., 92058.,
       92026., 92130., 92173., 92139., 92124., 92107., 92121., 92104.,
       92106., 92115., 92108., 92128., 92071., 92131., 92037., 92129.,
       92122., 92100., 92182., 92021., 92007., 92127., 92020., 92014.,
       92140., 92019., 91978., 91951., 91945., 92155., 92040., 91977.,
       91902., 92003., 92119., 92028., 90284., 92145.])

In [34]:
assert(sum(np.isnan(df["ZipCode"].unique())) == 1)

Lets drop the entries that have NaN values in the ZipCode region.

In [35]:
df = df.dropna(subset=['ZipCode'])

In [36]:
assert(sum(np.isnan(df["ZipCode"].unique())) == 0)

In [37]:
df.head(10)

,CM_LEGEND,agency,Charge_Description_Orig,activityDate,BLOCK_ADDRESS,ZipCode,community
27,DUI,CHULA VISTA,DUI ALC/0.08 PERCENT (M),7/27/2019 2:56:25,400 E BLOCK PALOMAR STREET,91911.0,CHULA VISTA
41,DUI,SHERIFF,DUI ALCOHOL (M),10/3/2019 23:37:00,GLASGOW AVENUE & LIVERPOOL DRIVE,92024.0,ENCINITAS
68,DUI,CHULA VISTA,DUI ALC/0.08 PERCENT (M),8/12/2019 1:06:00,300 BLOCK 04TH AVENUE,91910.0,CHULA VISTA
86,DUI,CHULA VISTA,DUI ALCOHOL (M),8/15/2019 12:43:00,600 BLOCK BROADWAY,91910.0,CHULA VISTA
102,DUI,CHULA VISTA,DUI ALC/0.08 PERCENT (M),8/3/2019 5:05:06,SANTA VENETIAST & WINDCHIME AVENUE,91913.0,NaN
103,DUI,CHULA VISTA,DUI ALCOHOL (M),8/4/2019 8:15:00,LA MEDIA ROAD & E PALOMAR STREET,91915.0,CHULA VISTA
120,DUI,SHERIFF,DUI ALCOHOL (M),7/29/2019 20:07:00,13500 BLOCK KENTFIELD DRIVE,92064.0,POWAY
155,DUI,CHULA VISTA,DUI ALCOHOL (M),9/7/2019 1:06:00,0 BLOCK J STREET ( 200 BLOCK ),91910.0,NaN
156,DUI,CHULA VISTA,DUI ALC/0.08 PERCENT (M),9/8/2019 0:56:00,PASEO ENTRADA & PASEO LADERA,91910.0,CHULA VISTA
157,DUI,CHULA VISTA,DUI ALC/0.08 PERCENT (M),9/7/2019 22:55:00,BONITA ROAD & PLAZA BONITA ROAD,91910.0,CHULA VISTA

Now, Lets apply safe harbor and drop some columns

In [38]:
df = df.drop(['activityDate', 'BLOCK_ADDRESS', 'community'], axis = 1)

In [40]:
#We also dont need agency, so we will drop that column
df = df.drop(['agency'], axis = 1)

Now lets analyze the zipcodes and see if we need to clean the data

In [50]:
print(len(df.ZipCode.unique()))
print(df.ZipCode.unique())
print(df[df["ZipCode"] == 20650])

85
[91911. 92024. 91910. 91913. 91915. 92064. 92114. 92009. 92109. 92118.
 92075. 92083. 92008. 91941. 92027. 92084. 92025. 92111. 92103. 92078.
 91932. 92010. 92069. 92123. 91942. 91950. 92110. 92065. 92102. 91914.
 92126. 92081. 92011. 92056. 91901. 92117. 92120. 92054. 92105. 92113.
 20650. 92154. 92057. 92029. 92116. 92101. 92058. 92026. 92130. 92173.
 92139. 92124. 92107. 92121. 92104. 92106. 92115. 92108. 92128. 92071.
 92131. 92037. 92129. 92122. 92100. 92182. 92021. 92007. 92127. 92020.
 92014. 92140. 92019. 91978. 91951. 91945. 92155. 92040. 91977. 91902.
 92003. 92119. 92028. 90284. 92145.]
      CM_LEGEND Charge_Description_Orig  ZipCode
1968        DUI         DUI ALCOHOL (M)  20650.0
2108        DUI         DUI ALCOHOL (M)  20650.0
10001       DUI         DUI ALCOHOL (M)  20650.0

As you can see, all of the zipcodes were socal zipcodes except for 20650, so we will drop those entries

In [52]:
df = df.drop(df[df["ZipCode"] == 20650].index)

In [55]:
assert(len(df[df["ZipCode"] == 20650]) == 0)

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [5]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*