# COGS 108 - Final Project

# Overview

TBD

# Names

- Ankur Gupta
- Aditya Sampath
- Pedro Talancon
- Koodrut Panesar

# Group Members IDs

- A13877512
- A13441492
- A14400378
- A13561263

# Research Question

Income or Density of Liquor Stores

## Background and Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [1]:
import pandas as pd
import numpy as np

# Data Cleaning

Import:
1. A file with he last 180 days of San Diego public crime data
2. A csv file that contains a mapping of zip codes to population
3. A csv file that contains a mapping of zip codes to average adjusted gross income

into pandas dataframes

In [2]:
crime_df = pd.read_csv('SDPublicCrimeData112019.txt')
zip_df = pd.read_csv('zip_pop.csv')
income_df = pd.read_csv('zip_income.csv')
liquor_stores_df = pd.read_csv('ABC_Licenses.csv')

In [3]:
liquor_stores_df = liquor_stores_df[['Status', 'DBA_Name', 'Site_ZIP']]
liquor_stores_df.columns = ['Status', 'Name', 'zip']
liquor_stores_df = liquor_stores_df[liquor_stores_df['Status'] == 'ACTIVE']

In [4]:
for zip_code in liquor_stores_df['zip']:
    if len(zip_code) != 5 and len(zip_code) != 10:
        print(zip_code)

In [5]:
liquor_stores_df['zip'] = liquor_stores_df['zip'].str[:5]
liquor_stores_df['zip'] = liquor_stores_df['zip'].astype(float)

Isolate for only columns that we need to determine median household income and rename columns to more explanatory names

In [6]:
income_df = income_df[['GEO.id2', 'HC03_EST_VC02', 'HC03_MOE_VC02']]
income_df.columns = ['zip', 'median_income', 'median_income_moe']

Remove all rows that lack income data as well as three rows that have income data that isn't formatted as an int (eg. 25000+)

In [7]:
income_df = income_df.drop(income_df[income_df['median_income_moe'] == '**'].index)
income_df = income_df.drop(income_df[income_df['median_income_moe'] == '***'].index)
income_df = income_df.drop(income_df.index[0])

Convert all columns to be floats from strings

In [8]:
income_df['zip'] = income_df['zip'].astype(float)
income_df['median_income'] = income_df['median_income'].astype(float)
income_df['median_income_moe'] = income_df['median_income_moe'].astype(float)

Checking the values of the crimes, and making sure DUI doesn't have different spellings

In [9]:
crime_df.CM_LEGEND.unique()

array(['MOTOR VEHICLE THEFT', 'BURGLARY', 'THEFT/LARCENY', 'ASSAULT',
       'ROBBERY', 'VANDALISM', 'DRUGS/ALCOHOL VIOLATIONS', 'WEAPONS',
       'DUI', 'FRAUD', 'VEHICLE BREAK-IN/THEFT', 'SEX CRIMES', 'ARSON',
       'HOMICIDE'], dtype=object)

Now we know that there aren't different variations of the DUI spelling, so we can make a dataframe of just DUIs.

In [10]:
crime_df = crime_df[crime_df['CM_LEGEND']=='DUI']

Next, we check to see all Zip Codes that DUIs were filed under

In [11]:
crime_df["ZipCode"].unique()

array([91911., 92024., 91910., 91913., 91915., 92064., 92114., 92009.,
       92109., 92118., 92075., 92083., 92008., 91941., 92027., 92084.,
       92025., 92111., 92103., 92078., 91932., 92010., 92069., 92123.,
       91942., 91950., 92110., 92065., 92102., 91914., 92126., 92081.,
       92011., 92056., 91901.,    nan, 92117., 92120., 92054., 92105.,
       92113., 20650., 92154., 92057., 92029., 92116., 92101., 92058.,
       92026., 92130., 92173., 92139., 92124., 92107., 92121., 92104.,
       92106., 92115., 92108., 92128., 92071., 92131., 92037., 92129.,
       92122., 92100., 92182., 92021., 92007., 92127., 92020., 92014.,
       92140., 92019., 91978., 91951., 91945., 92155., 92040., 91977.,
       91902., 92003., 92119., 92028., 90284., 92145.])

In [12]:
assert(sum(np.isnan(crime_df["ZipCode"].unique())) == 1)

Lets drop the entries that have NaN values in the ZipCode region.

In [13]:
crime_df = crime_df.dropna(subset=['ZipCode'])

In [14]:
assert(sum(np.isnan(crime_df["ZipCode"].unique())) == 0)

In [15]:
crime_df.head(10)

,CM_LEGEND,agency,Charge_Description_Orig,activityDate,BLOCK_ADDRESS,ZipCode,community
27,DUI,CHULA VISTA,DUI ALC/0.08 PERCENT (M),7/27/2019 2:56:25,400 E BLOCK PALOMAR STREET,91911.0,CHULA VISTA
41,DUI,SHERIFF,DUI ALCOHOL (M),10/3/2019 23:37:00,GLASGOW AVENUE & LIVERPOOL DRIVE,92024.0,ENCINITAS
68,DUI,CHULA VISTA,DUI ALC/0.08 PERCENT (M),8/12/2019 1:06:00,300 BLOCK 04TH AVENUE,91910.0,CHULA VISTA
86,DUI,CHULA VISTA,DUI ALCOHOL (M),8/15/2019 12:43:00,600 BLOCK BROADWAY,91910.0,CHULA VISTA
102,DUI,CHULA VISTA,DUI ALC/0.08 PERCENT (M),8/3/2019 5:05:06,SANTA VENETIAST & WINDCHIME AVENUE,91913.0,NaN
103,DUI,CHULA VISTA,DUI ALCOHOL (M),8/4/2019 8:15:00,LA MEDIA ROAD & E PALOMAR STREET,91915.0,CHULA VISTA
120,DUI,SHERIFF,DUI ALCOHOL (M),7/29/2019 20:07:00,13500 BLOCK KENTFIELD DRIVE,92064.0,POWAY
155,DUI,CHULA VISTA,DUI ALCOHOL (M),9/7/2019 1:06:00,0 BLOCK J STREET ( 200 BLOCK ),91910.0,NaN
156,DUI,CHULA VISTA,DUI ALC/0.08 PERCENT (M),9/8/2019 0:56:00,PASEO ENTRADA & PASEO LADERA,91910.0,CHULA VISTA
157,DUI,CHULA VISTA,DUI ALC/0.08 PERCENT (M),9/7/2019 22:55:00,BONITA ROAD & PLAZA BONITA ROAD,91910.0,CHULA VISTA

Now, Lets apply safe harbor and drop some columns

In [16]:
crime_df = crime_df.drop(['activityDate', 'BLOCK_ADDRESS', 'community'], axis = 1)

Next, we drop the agency column due to that being irrelevant for our analysis

In [17]:
crime_df = crime_df.drop(['agency'], axis = 1)

After dropping unnecessary columns, rename the remaining columns to more friendly names.

In [18]:
crime_df.columns = ['crime', 'charge_description', 'zip']

Now lets analyze the zipcodes and see if we need to clean the data

In [19]:
print(len(crime_df["zip"].unique()))
print(crime_df["zip"].unique())
print(crime_df[crime_df["zip"] == 20650])

85
[91911. 92024. 91910. 91913. 91915. 92064. 92114. 92009. 92109. 92118.
 92075. 92083. 92008. 91941. 92027. 92084. 92025. 92111. 92103. 92078.
 91932. 92010. 92069. 92123. 91942. 91950. 92110. 92065. 92102. 91914.
 92126. 92081. 92011. 92056. 91901. 92117. 92120. 92054. 92105. 92113.
 20650. 92154. 92057. 92029. 92116. 92101. 92058. 92026. 92130. 92173.
 92139. 92124. 92107. 92121. 92104. 92106. 92115. 92108. 92128. 92071.
 92131. 92037. 92129. 92122. 92100. 92182. 92021. 92007. 92127. 92020.
 92014. 92140. 92019. 91978. 91951. 91945. 92155. 92040. 91977. 91902.
 92003. 92119. 92028. 90284. 92145.]
      crime charge_description      zip
1968    DUI    DUI ALCOHOL (M)  20650.0
2108    DUI    DUI ALCOHOL (M)  20650.0
10001   DUI    DUI ALCOHOL (M)  20650.0

All of the zipcodes seem to be San Diego zipcodes except for 20650, so we will drop those entries

In [20]:
crime_df = crime_df.drop(crime_df[crime_df["zip"] == 20650].index)

In [21]:
assert(len(crime_df[crime_df["zip"] == 20650]) == 0)

Now that we have San Diego zip codes, merge the zipcode-population dataframe with the crime dataframe on the zip code column so that we can have a list of population per zip code and crime data in one dataframe. We do a left merge because we only want to merge on zip codes that exist in the crime dataframe

In [22]:
result = pd.merge(crime_df, zip_df, on='zip', how='left')

Check if any zip codes don't have an associated population count and determine why.

In [23]:
result[result['population'].isnull() == True]

     crime        charge_description      zip  population
469    DUI  DUI ALC/0.08 PERCENT (M)  92100.0         NaN
515    DUI  DUI ALC/0.08 PERCENT (M)  92182.0         NaN
830    DUI           DUI ALCOHOL (M)  91951.0         NaN
1561   DUI           DUI ALCOHOL (M)  90284.0         NaN

These zipcodes weren't listed in the 2010 Census. After examining the zip codes without a population count, we determined that two zip codes (92100 and 90284) aren't real zip codes, so we'll drop those. The zip code 92182 is the zip code for SDSU, which has a population of 0, so we'll drop that zip code. The zip code 91951 is a PO zip code that also has a population of 0, so we'll drop that zip code as well.

In [24]:
result = result.drop(result[result["zip"] == 92100].index)
result = result.drop(result[result["zip"] == 92182].index)
result = result.drop(result[result["zip"] == 91951].index)
result = result.drop(result[result["zip"] == 90284].index)

In [25]:
assert(len(result[result["zip"] == 92100]) == 0)
assert(len(result[result["zip"] == 92182]) == 0)
assert(len(result[result["zip"] == 91951]) == 0)
assert(len(result[result["zip"] == 90284]) == 0)

Merge the crime/population dataframe with the income dataframe on the zip code column so that we can have income per zip code, a list of population per zip code and crime data in one dataframe. We do a left merge because we only want to merge on zip codes that exist in the crime/population dataframe

In [26]:
result = pd.merge(result, income_df, on='zip', how='left')

Check if any zip codes don't have an associated income and determine why.

In [27]:
result[result['median_income'].isnull() == True]

,crime,charge_description,zip,population,median_income,median_income_moe
699,DUI,DUI ALCOHOL (M),92140.0,3435.0,NaN,NaN
1016,DUI,DUI ALCOHOL,92155.0,550.0,NaN,NaN
1993,DUI,USE WATERCRAFT WHILE UNDER INFLUENCE OF ALCOHO...,92155.0,550.0,NaN,NaN

After examining the zip codes without a associated income, we determined that the two zip codes (92140 and 92155) are military bases, which is why they lack average income. As a result, we'll drop the three rows of DUI incidents in those zip codes.

In [28]:
result = result.drop(result[result["zip"] == 92140].index)
result = result.drop(result[result["zip"] == 92155].index)

In [29]:
assert(len(result[result["zip"] == 92140]) == 0)
assert(len(result[result["zip"] == 92155]) == 0)

In [33]:
unique_crime_zips = result['zip']
liquor_zips = set(liquor_stores_df['zip'])

for crime_zip in unique_crime_zips:
    if crime_zip not in liquor_zips:
        print(crime_zip)
        
result[result['zip'] == 92145.0]

92145.0
92145.0

,crime,charge_description,zip,population,median_income,median_income_moe
1568,DUI,DUI ALC/0.08 PERCENT (M),92145.0,1449.0,141691.0,124639.0
1952,DUI,DUI ALC/0.08 PERCENT (M),92145.0,1449.0,141691.0,124639.0

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*